<div class="max-w-2xl">
  <form class="space-y-4 md:space-y-6" [formGroup]="form" (submit)="submit()">
    <button hidden></button>
    <app-form-container1>
      <ng-container formContent>
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>{{ "Your email" | translate }}</mat-label>
          <input matInput formControlName="email" type="email" name="email" id="email"
                 placeholder="name@company.com" required="">
          <mat-error>{{ form.controls['email'].errors | formError | translate }}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>{{ "Your first name" | translate }}</mat-label>
          <input matInput formControlName="first_name" type="first_name" name="first_name" id="first_name"
                 placeholder="" required="">
          <mat-error>{{ form.controls['first_name'].errors | formError | translate }}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>{{ "Your last name" | translate }}</mat-label>
          <input matInput formControlName="last_name" type="last_name" name="last_name" id="last_name"
                 placeholder="" required="">
          <mat-error>{{ form.controls['last_name'].errors | formError | translate }}</mat-error>
        </mat-form-field>
      </ng-container>
    </app-form-container1>
    <div style="margin-top: 40px">
      <button mat-raised-button
              (click)="submit()"
              color="primary" style="width: 100%">{{ "Save" | translate }}
      </button>
    </div>
  </form>

</div>
