body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #15353C;
  color: white;
  text-align: center;
}

.content h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.content p {
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

button.cta {
  background-color: #ff3429;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}
