<div class="max-w-2xl">
  <form class="space-y-4 md:space-y-6" [formGroup]="form" (submit)="submit()">
    <button hidden></button>
    <app-form-container1>
      <ng-container formContent>
        <mat-form-field appearance="outline" class="w-full">
          <input autocomplete="password"
                 formControlName="old_password"
                 matInput name="old_password" type="password">
          <mat-hint>{{ 'changePasswordOldPasswordHint'| translate }}</mat-hint>
          <mat-error>{{ form.controls['old_password'].errors | formError | translate }}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-full">
          <input [type]="hide ? 'password' : 'text'"
                 autocomplete="password"
                 formControlName="new_password" matInput name="new_password">
          <mat-error>{{ form.controls['new_password'].errors | formError | translate }}</mat-error>
          <button (click)="hide = !hide"
                  [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide" mat-icon-button matSuffix
                  type="button">
            <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-full  ">
          <input autocomplete="password"
                 formControlName="new_password2"
                 matInput name="new_password2" type="password">
          <mat-hint>{{ 'changePasswordNewPassword2Hint'| translate }}</mat-hint>
          <mat-error>{{ form.controls['new_password2'].errors | formError | translate }}</mat-error>
          <mat-error *ngIf="form.hasError('notSame')">
            {{ 'sameFieldsAreInvalid' | translate }}
          </mat-error>
        </mat-form-field>
      </ng-container>
    </app-form-container1>
    <div class="py-2" *ngIf="formLevelErrors.length > 0">
      <ng-container *ngFor="let error of formLevelErrors">
        <mat-error>{{ error | translate }}</mat-error>
      </ng-container>
    </div>

  </form>
  <div style="margin-top: 40px">
    <button mat-raised-button
            (click)="submit()"
            disabled="true"
            color="primary" style="width: 100%">{{ "Change password" | translate }}
    </button>
  </div>
</div>
